*#
*.bk
*.bkup
*.tmp
*.un~
*~
.#*
.*.sw[a-z]
.DS_Store
.bundle/
.cache/
.coverage/
.kitchen.local.yml
.kitchen/
.vagrant.d/
.vagrant/
.zero-knife.rb
Berksfile.lock
Gemfile.lock
Vagrantfile
\#*#
bin/
metadata.json
tmp/
vendor/
